<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ARS Login</title>

    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
    <link rel="stylesheet" href="../static/css/style-login.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="../static/js/login.js"></script>

</head>

<body>
<div id ="alert_placeholder">
</div>
<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
        <div class="login-form">
            <form method="post" role="form" action="loginUser" id="loginForm">
                <div class="sign-in-htm">
                    <div class="group">
                        <label for="user" class="label">Email</label>
                        <input id="user" type="text" class="input" name="email">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input id="pass" type="password" class="input" name="password" data-type="password">
                    </div>
                    <div class="group">
                        <input id="check" type="checkbox" class="check" checked>
                        <label for="check"><span class="icon"></span> Keep me Signed in</label>
                    </div>
                    <div class="group">
                        <input type="submit" class="button" name="submit" value="Log In">
						<button class="btn btn-lg btn-primary btn-block" type="button"> Button </button>

                    </div>
                    <div class="foot-lnk">
                        <a href="" class="forgot-pass-lnk">Forgot Password?
                            <div class="forgot-pass-text">
                                Contact administrator to reset your password.
                            </div>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
</html>
