<!DOCTYPE html5>
<html>
<head>
    <title>Message</title>
    <link rel="stylesheet" href="../static/style-compose.css">

</head>
<body>


<div id="wrapper1">
    <form doctype="x/url-encoded" type="POST">

        <p>
        <h4 class="input2">Message
            <h4><br><br><br>
                <input class="input" type="text" name="fname1" placeholder=" TO:"><BR><BR>
                <input class="input" type="text" name="fname1" placeholder=" SUBJECT:"><BR><br>
                <input class="input1" type="text" name="fname1" placeholder=" "><br><br><br><br><br><br><br><br><br>
                <H4 class="input3">
                    <H4><br><br><br><br><br><br>
                        <div id="wrapper">

                            <button type="button" id="btn">Send</button>
                            <button type="button" id="btn1">Attach file</button>
                            <button type="button" id="btn2">Insert photo</button>

                        </div>
        </p>


    </form>
</div>
</div>
</head>
</html>
